body{
    margin: 0;
    text-align: center;
    background-color: rgb(200, 217, 214); 
}
.container {
    margin: 0 auto;
}
.image{
    display: inline-block;
    box-sizing: border-box;

    width: 250px;
    height: 250px;
    padding: 5px;
    border: 4px double rgb(91, 123, 112);
    border-radius: 5px;
    margin: 5px;
    
    object-fit: cover;
    box-shadow: 5px 5px 6px #979797;
    cursor: pointer;
}
h1{
    font-family: 'Italiana', serif;
    font-weight: normal;
    font-size: 60px;
}
